.Landing-1 {
  width: 1440px;
  height: 5063px;
  background-color: white;
  overflow: hidden;
}

.Oval img{
  position: absolute;
  width: 610px;
  height: 610px;
  object-fit: contain;
  top: 0px;
  left: 0px;
 
}

.Omega {
  width: 71px;
  height: 28px;
  object-fit: contain;
  font-family: CircularStd;
  font-size: 21.6px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  color: #19191b;
  position: absolute;
  top: 20px;
  left: 32px;
}

.BG {
  position: absolute;
  width: 127px;
  height: 41px;
  top: 15px;
  right: 15px;
  border-radius: 4.5px;
  border: solid 0.9px #c31a12;
  background-color: #f04037;
}

.Get-Started {
  position: absolute;
  width: 127px;
  height: 18px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: center;
  color: white;
  top: 12px;
  bottom: 11px;

}


.Support {
  position: absolute;
  width: 204px;
  height: 18px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: right;
  color: #19191b;
  top: 27px;
  right: 176px;
}

.Pages {
  position: absolute;
  width: 204px;
  height: 18px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: right;
  color: #19191b;
  top: 27px;
  right: 255px;
}


.Bitmap {
  position: absolute;
  top:34px;
  right: 320px;
  width: 8px;
  height: 5px;
  background-color: #19191b;
}

.Demo {
  position: absolute;
  width: 204px;
  height: 18px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  text-align: right;
  color: #19191b;
  top: 27px;
  right: 337px;
}

.Demos-Pages-Support .text-style-1 {
  color: #5454d4;
}

.Redesigned-how-you {
  width: 622px;
  position: absolute;
  height: 227px;
  margin: 0 0 22px;
  font-family: CircularStd;
  font-size: 72px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: -2.25px;
  color: #19191b;
  top: 241px;
  left:248px;
}

.iPhone-Body img{
  position: absolute;
  width: 797px;
  height: 593px;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0);
  top: 173px;
  left: 720px;
  
}

.Create-custom-landin {
  width: 482px;
  height: 105px;
  position: absolute;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #696871;
  top: 490px;
  left: 250px;
}

.BG_2 {
  position: absolute;
  width: 180px;
  height: 54px;
  border-radius: 4.5px;
  border: solid 0.9px #c31a12;
  background-color: #f0544c;
  top: 627px;
  left: 248px;
}

.Get-Started_2 {
  position: absolute;
  width: 95px;
  height: 24px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  text-align: center;
  color: white;
  top: 18px;
  bottom: 8px;
  left: 43px;
  right: 42px;
}

.Watch-the-intro-vide {
  position: absolute;
  width: 133px;
  height: 18px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  color: #5454d4;
  top: 696px;
  left: 264px;
}

.Path img {
  position: absolute;
  width: 10px;
  height: 12px;
  object-fit: contain;
  top: 698px;
  left: 248px;
}

.Popular-teams-who-us {
  position: absolute;
  width: 343px;
  height: 25px;
  font-family: CircularStd;
  font-size: 16.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.51px;
  color: #696871;
  top: 890.1px;
  left: 248px;
}

.logo-1 img{
  position: absolute;
  width: 129px;
  height: 28px;
  object-fit: contain;
  opacity: 0.6;
  top: 947.1px;
  left: 248px;

}

.logo-2 img{
  position: absolute;
  width: 94px;
  height: 24px;
  object-fit: contain;
  opacity: 0.6;
  top: 950.1px;
  left: 464px;
}

.logo-3 img{
  position: absolute;
  width: 122px;
  height: 23px;
  object-fit: contain;
  opacity: 0.6;
  top: 950.1px;
  left: 700px;
}

.logo-4 img{
  position: absolute;
  width: 76px;
  height: 32px;
  object-fit: contain;
  opacity: 0.6;
  top: 946.1px;
  left: 999px;
}

.logo-5 img{
  position: absolute;
  width: 93px;
  height: 24px;
  object-fit: contain;
  opacity: 0.6;
  top: 950.1px;
  left: 1195px;
}

.bg2 img {
  position: absolute;
  width: 100%;
  height: 839px;
  top: 1017.9px;
  left: 0px;
  object-fit: cover;
  
}

.bg_box1 {
  position: absolute;
  width: 230px;
  height: 247px;
  border-radius: 9px;
  background-color: white;
  top: 1167.9px;
  left: 248px;
}

.Oval_box1 {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 1190.9px;
  left: 273px;
  border-radius: 30px;
  background-color: rgba(240, 64, 55, 0.1);
}

.layout-11 img{
  position : absolute;
  width: 22px;
  height: 26px;
  object-fit: contain;
  top: 1209.9px;
  left: 294px;
}

.Multiple-Layouts {
  position: absolute;
  width: 179px;
  height: 28px;
  font-family: CircularStd;
  font-size: 21.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  color: #19191b;
  top: 1273.9px;
  left: 273px;
}

.With-lots-of-unique {
  position: absolute;
  width: 179px;
  height: 76px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
  top: 1312.9px;
  left: 273px;
}

.bg_box2 {
  position: absolute;
  width: 230px;
  height: 247px;
  border-radius: 9px;
  box-shadow: 0 47px 49px 0 rgba(65, 62, 101, 0.3);
  background-color: white;
  top: 1167.9px;
  left: 505px;
}

.Oval_box2 {
  position: absolute;
  width: 62px;
  border-radius: 30px;
  top: 1190.9px;
  left: 530px;
  height: 62px;
  background-color: rgba(254, 220, 90, 0.1);
}

.sidebar img{
  position: absolute;
  width: 31px;
  height: 26px;
  top: 1209.9px;
  left: 546px;
  object-fit: contain;
}

.Fully-Responsive {
  position: absolute;
  width: 179px;
  height: 28px;
  font-family: CircularStd;
  font-size: 21.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  color: #19191b;
  top:1273.9px;
  left:530px;
}

.With-lots-of-unique-2 {
  position: absolute;
  width: 179px;
  height: 76px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
  top:1312.9px;
  left:530px;
}

.bg_box3 {
  position:absolute;
  width: 230px;
  height: 247px;
  border-radius: 9px;
  background-color: white;
  top:1441.9px;
  left:248px;
}

.Oval_box3 {
  position:absolute;
  border-radius: 30px;
  width: 62px;
  height: 62px;
  background-color: rgba(84, 84, 212, 0.1);
  top:1464.9px;
  left:273px;
}

.Path_box3 {
  width: 22px;
  height: 27px;
  background-color: #5454d4;
  top: 1482.9px;
  left: 294px;
  position: absolute;

}

.Well-Documented {
  width: 179px;
  height: 28px;
  font-family: CircularStd;
  font-size: 21.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  color: #19191b;
  top: 1547.9px;
  left: 273px;
  position:absolute;
}

.With-lots-of-unique-3{
  position: absolute;
  width: 179px;
  height: 76px;
  margin: 11px 0 0;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
  top: 1586.9px;
  left: 273px;
}

.bg_box4 {
  width: 230px;
  height: 247px;
  top: 1441.9px;
  left: 505px;
  border-radius: 9px;
  background-color: white;
  position: absolute;
}

.Oval_box4 {
  width: 62px;
  height: 62px;
  position: absolute;
  border-radius: 30px;
  top: 1464.9px;
  left: 530px;
  background-color: rgba(65, 62, 101, 0.1);
}

.chat-content img{
  position: absolute;
  top: 1483.9px;
  left:548px;
  width: 27px;
  height: 26px;
  object-fit: contain;
}

.Great-Support {
  position: absolute;
  width: 179px;
  height: 28px;
  font-family: CircularStd;
  font-size: 21.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  color: #19191b;
  top: 1547.9px;
  left: 530px;
}

.With-lots-of-unique-4 {
  width: 179px;
  height: 76px;
  top: 1586.9px;
  left: 530px;
  position: absolute;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
}

.Build-a-perfect-land {
  position: absolute;
  top: 1254.9px;
  left:788px;
  width: 456px;
  height: 126px;
  font-family: CircularStd;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  color: white;
}

.Create-custom-landin-form2 {
  position: absolute;
  top: 1408.9px;
  left: 788px;
  width: 462px;
  height: 105px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: rgba(255, 255, 255, 0.7);
}

.bg_form2 {
  position: absolute;
  top: 1548.9px;
  left:788px;
  width: 194px;
  height: 54px;
  border-radius: 4.5px;
  border: solid 0.9px #eae9f2;
}

.Check-all-features {
  position: absolute;
  top: 1563.9px;
  left: 788px;
  width: 194px;
  height: 24px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  text-align: center;
  color: white;
}



.Save-tons-of-time-on {
  position: absolute;
  top: 2056px;
  left:248px;
  width: 473px;
  height: 126px;
  font-family: CircularStd;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  color: #19191b;
}

.Create-custom-landin-2 {
  width: 464px;
  height: 105px;
  position: absolute;
  top: 2198px;
  left:248px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #696871;
}

.bg-started-3 {
  width: 181px;
  height: 54px;
  top:2335px;
  position: absolute;
  left: 248px;
  border-radius: 4.5px;
  border: solid 0.9px #c31a12;
  background-color: #f04037;

}

.Get-Started-3 {
  width: 181px;
  height: 24px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  position: absolute;
  top: 2354px;
  left: 248px;
  line-height: normal;
  letter-spacing: -0.59px;
  text-align: center;
  color: white;
}

.Rectangle img{
  width:558px;
  height: 457px;
  position: absolute;
  top: 2032px;
  left: 770px;
  border-width: 6.3px;
  border-image-source: linear-gradient(to bottom, rgba(249, 116, 104, 0) 3%, #5454d4);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0)), linear-gradient(to bottom, rgba(249, 116, 104, 0) 3%, rgba(249, 116, 104, 0));
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 9px;

}

img {
  width: 419px;
  height: 710px;
  position: absolute;
  top: 1909px;
  left: 817px;
  object-fit: contain;
}

.Rectangle-form3 {
  width: 275px;
  height: 102px;
  position: absolute;
  top:2268px;
  left:754.7px;
  border-radius: 9px;
  box-shadow: 0 29px 31px 0 rgba(28, 27, 32, 0.2);
  background-color: #fedc5a;
}

.Next-meeting-on-30-m {
  width: 195px;
  height: 16px;
  position: absolute;
  top: 2285px;
  left:816.7px;
  object-fit: contain;
  opacity: 0.48;
  font-family: CircularStd;
  font-size: 12.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  color: #19191b;
}
.Oval-form3 {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 2289px;
  left:773.7px;
  border-radius: 28px;
  background-color: #5454d4;
}
.bell-form3 img{
  width: 11px;
  height: 11px;
  position: absolute;
  top:2297px;
  left:781.7px;
}
.Project-Discussion-w img{
  width: 171px;
  height: 48px;
  position: absolute;
  top:2305px;
  left:815.7px;
  object-fit: contain;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  color: #19191b;
}

.white-curve-2 {
  width: 1440px;
  height: 110px;
  top: 2601px;
  position: absolute;
  background-color: white;
}

.form-4 {
  width: 1440px;
  height: 845px;
  position: absolute;
  width: 100%;
  top: 2607px;
  background-color: #f7f7fb;
  left: 0px;
}


.Its-everything-you {
  width: 464px;
  height: 126px;
  position: absolute;
  top:221px;
  left:700px;
  font-family: CircularStd;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  color: #19191b;
}
.Rectangle-form4 {
  width: 275px;
  height: 102px;
  position: absolute;
  top: 304px;
  left:150px;
  border-radius: 9px;
  box-shadow: 0 29px 31px 0 rgba(28, 27, 32, 0.2);
  background-color: #f04037;
}
.Deadline-Oct-29-20 {
  width: 195px;
  height: 16px;
  position: absolute;
  top: 324px;
  left: 217px;
  object-fit: contain;
  opacity: 0.6;
  font-family: CircularStd;
  font-size: 12.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.39px;
  color: white;
}
.Oval2-form4 {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 323px;
  border-radius: 28px;
  left:175px;
  background-color: #5454d4;
}
.bell-53 img{
  width: 11px;
  height: 13px;
  position: absolute;
  top: 332px;
  left: 183px;
  object-fit: contain;
}
.Youve-got-a-new-pro img{
  width: 171px;
  height: 48px;
  position: absolute;
  top: 344px;
  left:216px;
  object-fit: contain;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  color: white;
}
.bg4 img{
  width: 452px;
  height: 729px;
  position: absolute;
  top: 120px;
  left: 200px;
  object-fit: contain;
  border-radius: 9px;
  box-shadow:  rgba(65, 62, 101, 0.3);
}

.rectangle-form4 img{
  width: 334px;
  height: 515px;
  position: absolute;
  top: 219px;
  left: 233px;
  object-fit: contain;
  border-radius: 9px;
  border-width: 6.3px;
  border-image-source: linear-gradient(to bottom, rgba(249, 116, 104, 0) 3%, #5454d4);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, rgba(216, 216, 216, 0), rgba(216, 216, 216, 0)), linear-gradient(to bottom, rgba(249, 116, 104, 0) 3%, rgba(249, 116, 104, 0));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.Create-custom-landin-4 {
  width: 464px;
  position: absolute;
  height: 105px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #696871;
  top:365px;
  left:700px;
}

.bg-form4 {
  width: 323px;
  height: 86px;
  position: absolute;
  top: 507px;
  left:700px;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color: white;
}

.-Unique-Design-Bl img{
  width: 238px;
  height: 48px;
  position: absolute;
  top: 525px;
  left: 765px;
  object-fit: contain;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  color: #19191b;
}

.-Unique-Design-Bl .text-style-1 img{
  font-weight: normal;
  color: #696871;
}

.icon-form4 img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 525px;
  left: 707px;
  object-fit: contain;
}

.bg2-form4 {
  width: 323px;
  height: 86px;
  position: absolute;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color: white;
  top: 606px;
  left: 700px;
}

.Mobile-First-Design img{
  width: 238px;
  height: 48px;
  position: absolute;
  top: 624px;
  left: 765px;
  object-fit: contain;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  color: #19191b;
}

.Mobile-First-Design .text-style-1 img{
  font-weight: normal;
  color: #696871;
}

.Oval-form4 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  top: 624px;
  left: 707px;
  background-color: rgba(84, 84, 212, 0.1);
}

.Shape img{
  width: 14px;
  height: 20px;
  position: absolute;
  top: 639px;
  left: 725px;
  object-fit: contain;
  background-color: #5454d4;
}

.Customers-are-loving {
  width: 478px;
  height: 126px;
  position: absolute;
  top: 3530.7px;
  left: 481.5px;
  font-family: CircularStd;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  text-align: center;
  color: #19191b;
}

.bg-form5 {
  width: 315px;
  height: 227px;
  position: absolute;
  top: 3709.7px;
  left: 220.5px;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color: white;
}

.Jonathan-Taylor {
  width: 132px;
  height: 26px;
  position: absolute;
  top: 3729.7px;
  left: 295.5px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.59px;
  color: #19191b;
}

.Gavin-Park {
  width: 90px;
  height: 26px;
  position: absolute;
  top: 3729.7px;
  left: 637.5px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.59px;
  color: #19191b;
}

.bg2-form5 {
  width: 315px;
  height: 227px;
  position: absolute;
  top: 3709.7px;
  left: 562.5px;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color: white;
}

.bg3-form5 {
  width: 315px;
  height: 227px;
  position: absolute;
  top: 3709.7px;
  left: 904.5px;
  border-radius: 9px;
  border: solid 0.9px #eae9f2;
  background-color: white;
}

.Betty-Norton {
  width: 107px;
  height: 26px;
  position: absolute;
  top: 3729.7px;
  left: 979.5px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.59px;
  color: #19191b;
}

.Path-form5 img{
  width: 24px;
  height: 20px;
  position: absolute;
  top: 3746.4px;
  left: 487.5px;
  object-fit: contain;
}

.Path2-form5 img{
  width: 24px;
  height: 20px;
  position: absolute;
  top: 3746.4px;
  left: 829.5px;
  object-fit: contain;
}

.Path3-form5 img{
  width: 24px;
  height: 20px;
  position: absolute;
  top: 3746.4px;
  left: 1171.5px;
  object-fit: contain;
}

.OMG-I-cannot-believ {
  width: 267px;
  height: 105px;
  position: absolute;
  top: 1900.7px;
  left: 126.5px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #19191b;
}

.OMG-I-cannot-believ .text-style-1 img{
  color: #5454d4;
}

.Omega-is-great-for {
  width: 267px;
  height: 105px;
  position: absolute;
  top: 1900.7px;
  left: 296.5px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #19191b;
}

.Omega-is-great-for .text-style-1 {
  color: #5454d4;
}

.Whenever-I-need-to-c {
  width: 267px;
  height: 105px;
  position: absolute;
  top: 1900.7px;
  left: 466.5px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  color: #19191b;
}

.Whenever-I-need-to-c .text-style-1 {
  color: #5454d4;
}

.CEO-at-Creativex {
  width: 105px;
  height: 26px;
  position: absolute;
  top: 3753px;
  left: 295.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
}

.CEO-at-Orbital {
  width: 90px;
  height: 26px;
  position: absolute;
  top: 3752.7px;
  left: 637.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
}
.Freelance-Designer {
  width: 117px;
  height: 26px;
  position: absolute;
  top: 3752.7px;
  left: 979.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.45px;
  color: #696871;
}



.bg-form6 img{
  width: 100%;
  width: 1440px;
  height: 973.1px;
  position: absolute;
  top:4107px;
  bottom:0px;
  left: 0px;
  right: 0px;
  object-fit: contain;
}

.Get-started-form6 {
  width: 473px;
  height: 63px;
  position: absolute;
  top: 4219px;
  left:471px;
  font-family: CircularStd;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -1.69px;
  text-align: center;
  color: white;
}

.Create-custom-landin-form6 {
  width: 464px;
  height: 105px;
  position: absolute;
  top: 4300px;
  left: 480px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: -0.59px;
  text-align: center;
  color: white;
}

.Rectangle-form6 {
  width: 450px;
  height: 64px;
  position: absolute;
  top: 4440px;
  left: 490px;
  border-radius: 9px;
  background-color: white;
}

.Your-name {
  width: 73px;
  height: 20px;
  position: absolute;
  top: 4462px;
  left: 513px;
  font-family: CircularStd;
  font-size: 16.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.51px;
  color: #696871;
}

.Rectangle2-form6 {
  width: 450px;
  height: 64px;
  position: absolute;
  top: 4520px;
  left: 490px;
  border-radius: 9px;
  background-color: white;
}

.Email-address {
  width: 95px;
  height: 20px;
  position: absolute;
  top: 4542px;
  left: 513px;
  font-family: CircularStd;
  font-size: 16.2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.51px;
  color: #696871;
}

.bg2-form6 {
  width: 450px;
  height: 54px;
  position: absolute;
  top: 4600px;
  left: 490px;
  border-radius: 9px;
  border: solid 0.9px #c31a12;
  background-color: #f04037;
}

.Get-Started-2-form6 {
  width: 181px;
  height: 24px;
  position: absolute;
  top: 4619px;
  left: 600px;
  font-family: CircularStd;
  font-size: 18.9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.59px;
  text-align: center;
  color: white;
}

.Omega-form6 {
  width: 71px;
  height: 28px;
  position: absolute;
  top: 4760px;
  left: 220.5px;
  font-family: CircularStd;
  font-size: 21.6px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.68px;
  color: white;
}

.About-form6 {
  width: 179px;
  height: 18px;
  position: absolute;
  top:4764.6px;
  left:411.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  color: white;
}

.Learn {
  width: 179px;
  height: 18px;
  position: absolute;
  top: 4764.6px; 
  left: 630.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  color: white;
}

.Stories {
  width: 179px;
  height: 18px;
  position: absolute;
  top: 4764.6px;
  left:848.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  color: white;
}

.Hire {
  width: 179px;
  height: 18px;
  position: absolute;
  top: 4764.6px;
  left:1067.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  color: white;
}

.Our-mission-Our-stor {
  width: 179px;
  height: 103px;
  position: absolute;
  top: 4799.6px;
  left:411.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: -0.45px;
  color: rgba(129, 129, 129, 0.7);
}

.Tutorials-How-it-wor {
  width: 179px;
  height: 103px;
  position: absolute;
  top: 4799.6px;
  left:630.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: -0.45px;
  color: rgba(129, 129, 129, 0.7);
}

.Blog-Tech-stories {
  width: 179px;
  height: 68px;
  position: absolute;
  top: 4799.6px;
  left: 848.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: -0.45px;
  color: rgba(129, 129, 129, 0.7);
}

.Career-Freelancers-T {
  width: 179px;
  height: 103px;
  position: absolute;
  top: 4799.6px;
  left:1067.5px;
  font-family: CircularStd;
  font-size: 14.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.38;
  letter-spacing: -0.45px;
  color: rgba(129, 129, 129, 0.7);
}
.Line-2 {
  width: 1000px;
  height: 1px;
  position: absolute;
  top:4990.6px;
  left:220.5px;
  border: solid 0.9px #2f2f31;
}
.UXTheme-All {
  width: 257px;
  height: 34px;
  position: absolute;
  top: 5007.6px;
  left:220.5px;
  font-family: CircularStd;
  font-size: 11.7px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.92;
  letter-spacing: -0.37px;
  color: rgba(255, 255, 255, 0.7);
}

.logo-twitter2x img{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5016.6px;
  left: 1143.5px;
  object-fit: contain;
}
.logo-fb-simple2x img{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5016.6px;
  left: 1174.5px;
  object-fit: contain;
}
.google2x img{
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5016.6px;
  left: 1205.5px;
  object-fit: contain;
  
}